
div.calendar { margin-top:2px; font-family:Arial, helvetica, sans-serif; color:black; }

div.month { margin-top:0px; }

div.monthname { margin-top:0px; font-size:40pt; font-weight:bold; margin:4px; }

.monthname > .mmmm { color:#a00;}
.monthname > .yyyy { color: #a00; margin-left:0.5em; }

div.artwork { display:block; width:98%; height:500px; border:1px solid black; margin-bottom:50px;}

.week {width:100%; clear:both;}
.weekday-name { float:left; background-color:#900;  border: 1px solid #900; color:#fff; width:52mm; text-align:center; font-size:16pt;  font-weight:bold;}
.weekday-name p {padding:2px;}
.weekday.weekday-name {border-top: none;}

.weekday {float:left; width:52mm; height:37mm; border: 1px solid lightgray;}
.weekday-day { font-weight:bold; }
.weekday-othermonth {background-color:#eee; color:#aaa; }
.weekend {background-color:#e6bec0;}
.weekday-day span,.weekday-othermonth span,.weekend span { font-size:60pt; font-weight:bold; padding:2px 2px; color:#555;}
.weekday-day .ev { width:98%; padding-top:2px; font-size:12pt;  font-weight:100; font-style:italic;}
.monthname span {margin:0px;}

div.pageBreak {clear:both;}


.footer {
  page-break-after: always;
  border:none;
}
