

body {background-color: #a00;}

div.calendar {font-family:Arial, helvetica, sans-serif; width:950px; background-color: #a00;}
div.monthname { margin-left:40px; font-size:50pt; font-weight:bold; padding:10px;  width:100%;}

div.month {border:none; margin-top:0px; background-color: #fff; margin:0px 0px; border-radius:7px;}

div.left  {width:50%;  display:inline-block; vertical-align:top;}
div.right {width:50%;  display:inline-block;}

div.day {  height:58px; border-bottom: 2px solid #000; }

div.dd {display:inline-block; font-size:16pt; font-weight:bold; width:45px; height:100%; color:#77f; background-color:black; vertical-align:middle; text-align:center;}
div.ddd {margin-left:0.5em; display:inline-block; font-size:14pt; background-color:#fff; color:#000; vertical-align:middle;}
div.ev {float:right; width:50%; margin-top:2px; margin-right:2px; text-align:right; font-size:10pt; color:black; font-style:italic;}

.dd > span {vertical-align:middle;}

.monthname > .mmmm { color:#d66f74;}
.monthname > .yyyy { color: #d66f74; font-size:100px; margin-left:0.5em; }

.weekend {color: #a00;}

.left > .day:last-child {border-bottom: 2px solid #000; margin-right: -438px; }
.right > .day:last-child {border-bottom: 2px solid #000; }


.footer { font-size:12px; background-color:#a00; width:100%; }
.preview-wrapper { width:80%; margin:12px 90px; background-color:#fff; height:200px; border-radius:7px;}

.lastmonth { width: 50%; }
.nextmonth { width: 50%; }

.smallmonthname {  text-align:justify; font-size:14px; font-weight:bold; padding:2px; }
.smallmonthname > .yyyy { margin-left:1.2em; }

.month-grid { float:left; width:25%; background-color:#fff; margin-bottom:2px; padding:7px 10px;}
.month-grid:first-child {margin-left:30px;}
.week {display:block; clear:both; }
.weekday { float:left; width:1.2em; color:#000; font-size:10pt; padding:4px; border:none; text-align:center;}
.weekday-day {font-size:12px; }
.weekday-othermonth { color:#ccc; }
.weekday-name { color:#d66f74; }

div.pageBreak {clear:both;}


@media print {
  @page {
    size: A4;
  }

  html, body {
    width: 210mm;
    height: 297mm;
    border:none;
  }

  .footer {
    page-break-after: always;
    border:none;
  }
}
