doctype html
html
    head
        link(href="css/calendar-year.css" rel="stylesheet" type="text/css")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

    body
        block content
